body {
  margin: 0
}

/* Exo margin */
section {
  background-color: #4da6ff;
}

h2 {
  background-color: yellow;
  border: 2px solid black;
  width: 200px;
}

section:first-child h2:nth-child(3) {
  margin: 50px;
}

section:first-child h2:nth-child(5) {
  margin-left: 20%;
}

section:first-child h2:last-child {
  margin: auto;
}
/* fin exo margin */

/* exo padding */
section:nth-child(2) h2:nth-child(3) {
  padding: 50px;
}

section:nth-child(2) h2:last-child {
  padding-left: 20%;
}
/* fin exo padding */

/* exo display */
section:nth-child(3) {
  margin: 40px;
  padding: 40px;
}

section:nth-child(3) h2 {
  display: inline;
}

section:nth-child(3) h2:last-child {
  display: none;
}
/* fin exo display */

/* exo float */
section:nth-child(4) h2 {
  width: auto;
  float: left;
}
section:nth-child(4) {
  overflow: hidden;
}
/* fin exo float */

/* exo position */
section:nth-child(5) h2 {
  position: fixed;
  background-color: green;
  margin: 0;
  top: 0;
}

section:nth-child(5) {
  position: relative;
  top: 50px;
  left: 50%;
}
/* fin exo position */

/* exo position (priorité) */
section:nth-child(6) h2:last-child {
  background-color: blue;
  margin-left: 100px;
}
section:nth-child(6) h2 {
  position: absolute;
}

section:nth-child(6) h2:nth-child(3) {
  z-index: -1;
}

/* fin exo position (priorité) */

